/*
	
Author: Lauren Schilling 
Additional CSS styles for Lauren Schilling, Web Designer.

Table of Contents:

01. Base Styles
02. Logo
03. Lists
04. Nav
05. Headings & Type
06. CV Page
07. Footer
08. Forms


*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	height: 100%;
	background-color: #49625e; }
	
	#item {
		background-color: #fff !important;
		color: #173c39 !important; }
	
	#item p {
		color: #173c39;	}

body {
	font-family: "sofia-pro", "poppins", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #092F25; }

main {
	z-index: 15;
	width: 60%;
	margin: 0 auto;
	margin-top: 7%; }
	
	.home {
		margin-top: 60px; }
		
	#item-main {
		margin: 0 auto;
		margin-top: 60px; /* height of header */
		padding-top: 100px;	}

		#item-main h2 {
			color: #092F25;	}
			
		#item-main .h2-line {
			border-bottom: #092F25 1px solid; }
			
		#item-main .item-line {
			width: 200%;
			transform: translateX(-40%); }

		#h3 {
			font-size: 1.1em;
			letter-spacing: 0.01em;	}
				
a {
	text-decoration: none;
	color: #cd6c7f; }
	
	a:hover,
	a:focus {
		text-decoration: underline; }
	

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#landing {
	display: none;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	background-color: #173c39; }

	#landing p {
		position: absolute;
		color: #fff;
		letter-spacing: -0.02em;
		line-height: 1em; }
	
		#move {
			top: 0;
			left: 0;
			margin: 25px 0 0 30px; }	
		
		#enter {
			bottom: 0;
			right: 0; 
			margin: 0 30px 25px 0;
			cursor: pointer; }				
	
	#landing img {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 350px;
		height: auto;
		cursor: pointer; }

#wrapper {
	display: block; }
	
	    
/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#logo { 
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	line-height: 2; }
	
	#logo a {
		text-indent: -9999px;
		font-size: 0;
		width: 280px;
		height: 100px;
		background: url(../images/logo-white.png) no-repeat center center;
		background-size: 100%;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		z-index: 10; }
	
	.home-logo,
	.item-logo {
		width: 185px !important;
		height: 62px !important; }
		
	
/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.project-desc ul, 
section ul {
	padding-left: 0;
	margin-top: 1em;
	color: #092F25; }
	
	.project-desc ul li, 
	section ul li {
		margin-bottom: .4rem;
		list-style: circle outside;
		display: inline-block; }
		
	.project-desc ul li:last-child {
		margin-bottom: 1.5em; }
		
	
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
	position: relative;
	top: 0; }
	
	.home-header,
	.item-header {
		background-color: #49625e;
		color: #fff;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 15;
		-webkit-box-shadow: 0px 3px 15px 0px rgba(23,60,57,0.41);
		-moz-box-shadow: 0px 3px 15px 0px rgba(23,60,57,0.41);
		box-shadow: 0px 3px 15px 0px rgba(23,60,57,0.41); }
	
nav {
	padding: 25px 0 15px 25px;
	max-width: 1900px;
	margin: 0 auto; }

	#hamburger {
		position: fixed;
		cursor: pointer;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out; }
		
		#hamburger span {
			background-color: #fff;
			width: 27px;
			height: 2.5px;
			display: block;
			margin: 0 0 3px 0;
			opacity: 1;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out; }	 
				
		/* ---- Hamburger to Cross Transition ---- */	
		#hamburger.open span:nth-child(1) {
			left: 0;
			width: 0%; }
	
		#hamburger.open span:nth-child(2) {
			left: 0;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg); }
		
		#hamburger.open span:nth-child(3) {
			left: 0;
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg); }
	
	#menu {
		margin-top: 35px;
		width: 3%; }
		
		#menu ul {		
			list-style: none;
			margin: 0;
			padding: 0;
			font-weight: 300;
			font-size: 0.85em;
			position: fixed;
			display: none; }
							
			#menu ul li {	
				-webkit-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
				-moz-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			    -o-transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
			    transition: transform 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }	 
			       		
				#menu ul li:hover {
					transform: translateX(20px); }
	
				#menu ul li a {
					color: #fff;
					text-decoration: none;
					opacity: 0;
					transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
					
					#menu ul li a span {
						transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
					
					#menu ul li:nth-child(2) a {
						-webkit-animation-delay: .1s;
						animation-delay: .1s; }
						
					#menu ul li:nth-child(3) a {
						-webkit-animation-delay: .2s;
						animation-delay: .2s; }
			
			.home-menu,
			.item-menu {
				margin-top: 0 !important;
				width: auto !important;
				display: inline-block;
				margin: 0 0 0 40px; }
			
				.home-menu ul,
				.item-menu ul {
					display: none;
					position: relative !important;
					top: -4px; }
					
					.home-menu ul li,
					.item-menu ul li {
						display: inline-block;
						padding-right: 10px; }
						
						.home-menu ul li:hover,
						.home-menu ul li:focus,
						.item-menu ul li:hover,
						.item-menu ul li:focus {
							font-weight: 400;
							transform: none !important;
							animation-delay: none !important; }
						
						.home-menu ul li a,
						.item-menu ul li a {	
							-webkit-transition: transform 200ms ease !important; 
							-moz-transition: transform 200ms ease !important; 
						    -o-transition: transform 200ms ease !important; 
						    transition: transform 200ms ease !important;
						    animation-delay: none !important; }
					            
	.line {
		display: block;
		border-top: 1px solid #fff;
		width: 40px;
		position: relative;
		left: -70px;
		top: 12px;
		margin: 0;
		padding: 0; }
	
		.move-line {
			left: -55px;
			transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
		
		.move-line-back {
			left: -70px;
			transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
	
	.active-item {
		font-weight: 400; }
	
		.span-active {
			display: block;
			border-top: 1px solid #fff;
			width: 40px;
			position: relative;
			left: -55px;
			top: 12px;
			margin: 0;
			padding: 0; }


/* Headings & Type
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5 {
	margin-bottom: 0; }
	
	h2, h3 {
		margin-bottom: 1em; }	

h2 {
	font-size: 1.1em;
	letter-spacing: .01em;
	font-weight: 600;
	padding-bottom: 1.4em; }

.hero {
	color: #fff;
	font-size: 3.5em;
	line-height: 1;
	font-weight: 600;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left; }

	.portfolio-h2 {
		padding-bottom: 0;
		margin-bottom: .7em; }

h3 {
	font-size: 1em;
	font-weight: 600;
	letter-spacing: .01em;
	text-transform: uppercase; }
	
h4 {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: .01em;
	line-height: 1.5; }

	h4 + h5 {
		margin-top: .5em; }
		
h5 {
	font-size: 1em;
	font-weight: 400; }
				
p {
	font-size: 1em;
	color: #fff; }
	
.no-margin {
	margin: 0; }
	
.no-padding {
	padding: 0; }

.bold {
	font-weight: 400; }
	
.italic {
	font-style: italic; }
	

/* Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */	

section {
	margin-bottom: 20%;
	clear: both; }
	
	section h2 {
		text-transform: uppercase;
		letter-spacing: 0.06em;
		color: #fff;
		display: inline-block;
		font-size: 0.79em;
		font-weight: 500; }
		
		.h2-line {
			width: 300%;
			height: 1px;
			border-bottom: #fff 1px solid;
			display: inline-block;
			z-index: 5;
			position: relative;
			transform: translateX(-60%); }
			
		.long {
			width: 180%;
			transform: translateX(-38%); }
	
	section h3 {
		color: #fff;
		font-family: 'Rufina';
		font-size: 1.3em;
		font-weight: 700;
		text-transform: none;
		margin-bottom: .3em; }
	
	.big {
		font-size: 1.5em;
		margin: 0;
		padding: 0; }
				
	#intro .row p:nth-child(3) {
		margin: .2em 0 2em 0; }
		
		.skills {
			margin-bottom: 2em; }
			
			.skills li {
				background-color: rgba(255,255,255, .1);
				padding: 2px 10px 4px 10px;
				border-radius: 1px;
				margin-right: 2px;
				color: #fff; }
		
		.see-work {
			display: inline-block;
			transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
				
			.see-work a {
				text-transform: uppercase;
				letter-spacing: 0.06em;
				color: #fff;
				display: inline-block;
				font-size: 0.79em;
				font-weight: 500;
				transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
			
			.see-work,		
			.see-work a span {
				transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }
			
			.see-work a:hover {
				text-decoration: none;
				transform: translateX(40px); }
				
		#rect {
			height: 30px;
			width: 70px;
			background-color: #49625e;
			display: inline-block;
			position: absolute;
			transform: translatex(-70px);
			z-index: 5; }
					
		#see-line {
			display: block;
			border-top: 1px solid #fff;
			width: 40px;
			position: relative;
			top: 12px;
			margin: 0;
			padding: 0; }

			.move-see-line {
				left: -55px;
				transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950); }

	
	#item-main section:not(:last-of-type) {
		margin-bottom: 8%;	}
	
	#desc,
	#item-intro h4 {
		font-family: "sofia-pro", "poppins", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		font-size: 0.79em;
		font-weight: 500;
		color: #173c39; }
		
		#item-intro h4 {
			text-transform: none;
			margin-bottom: 3em; }
		
		.item-img {
			width: 55%;
			height: auto;
			float: right; }
		
		#item-main h3 {
			color: #173c39 !important; }
		
		.trailer {
			padding-bottom: 10px; }

		.files li {
			background: #f8f8f8;
			padding: 2px 10px 4px 10px;
			border-radius: 1px;
			margin-right: 2px;
			transition: ease-in .2s; }
			
				.files li:hover,
				.files li:focus {
					background: #49625e;
					color: #fff !important; }
				
				.files li a {
					color: #173c39; }
					
				.files li:hover a,
				.files li:focus a {	
					text-decoration: none;
					color: #fff; }
		
#rectangle {
	height: 60px;
	width: 50px;
	background-color: #49625e;
	display: inline-block;
	position: fixed;
	transform: translatex(-75px);
	z-index: 5; }

.top {
	display: inline-block;
	height: 18px;
	width: 18px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(23, 60, 57, 1) url(../images/arrow.svg) no-repeat center 40%;
	background-size: 80%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1s 0s, visibility 0s 1s, margin-bottom .3s;
	-moz-transition: opacity 1s 0s, visibility 0s 1s, margin-bottom .3s;
	transition: opacity 1s 0s, visibility 0s 1s, margin-bottom .3s; }
  
	.top.is-visible {
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity 1s 0s, visibility 0s 0s;
		-moz-transition: opacity 1s 0s, visibility 0s 0s;
		transition: opacity 1s 0s, visibility 0s 0s; }


/* Portfolio Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */	

#portfolio {
	width: 100%; }

.portfolio-filter {
	padding: 0 0 30px 2px;
	text-align: center; }
	
.portfolio-img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding-bottom: 1.5em; }	

	.banner {
		padding-bottom:0;
		margin-bottom: 1.5em; }

	.npg-logo {
		padding: 1.5em 0 3em 0;	}

.project-desc h4 {
		padding-bottom: 5px; }	
	
.button {
	display: inline-block;
	background: none;
	border: none;
	margin: 0;
	padding: 0 8px 0 8px;
	transition: 0.1s;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #fff;
	font-size: 0.79em;
	font-weight: 500;
	cursor: pointer; }
	
	.button:hover,
	.button:focus,
	.active {
		opacity: 1; }
	
	.inactive {
		opacity: .5;
		transition: 0.4s; }
	
	.item-button {
		color: #173c39; }
		
.leave-site {
	padding-left: .5em;
	font-size: .7em; }

.sneak-peek {
	margin-bottom: 1em; }		
	
.video {
	clear: both;
	text-align: center;
	padding-bottom: 1.5em; }

	.video-responsive {
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0; }
	
	.video-responsive iframe {
	    left:0;
	    top:0;
	    height: 100%;
	    width: 100%;
	    position: absolute; }
    
.note {
	font-size: 0.9em; 
	margin-bottom: 0; }
		
#item-content {
	background-color: #fff;
	width: 100%; }
			

/* About 
–––––––––––––––––––––––––––––––––––––––––––––––––– */	

#about h2 {
	position: relative;
	top: -30px;	}
		
#about-img-wrapper {
	width: 25%;
	height: auto;
	position: absolute;
	z-index: -1;
	transform: translateY(-40px); }

	#about-img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0px;
		left: 0px; }
		
/*	.overlay {
		width: 100%;
		height: 100%; 
		display: inline-block;
		background-color: rgba(23, 60, 57, .5);	
		position: relative;
		top: 0px;
		left: 0px;
		z-index: 4; }
*/

.about {
	display: inline-block;
	width: 70%;
	float: right;
	margin-top: 8%; }
			
	.about p {
		color: #fff;
		margin-bottom: 3em; }	
	
		
/* Contact 
–––––––––––––––––––––––––––––––––––––––––––––––––– */	

#contact {
	margin-bottom: 15%; }
	
	#contact a {
		color: #fff;	}

.contact {
	padding-right: 2%; }
	
	.contact-details {
		display: inline-block;
		margin-right: 20px; 
		vertical-align: top; }
		
		.contact-details i:first-child {
			padding-left: 1px; }
		
		.fa-envelope-o {
			margin-right: 4px; }
		
		.contact a {
			color: #fff;
			text-decoration: none; }		
			
	.contact-social-links {
		z-index: 13;
		float: left; }
				
		.contact-social {
			margin: 0;
			padding: 0;
			-webkit-transition: all ease-in .3s;
			-moz-transition: all ease-in .3s;
			-o-transition: all ease-in .3s;
			transition: all ease-in .3s; }
			
			.contact-social li {
				display: inline-block;
				font-size: 1em;
				margin-bottom: 0; }
				
				.contact-social li:not(:first-child) {
					padding-left: 4px; }
				
				.contact-social li a {
					color: #fff;
					margin-bottom: 0; }	
				
					.contact-social li a:hover {
						border: none; }
										
					.contact-social:hover > li a i {
						opacity: .7; 
						color: #fff;
						-webkit-transition: all ease-in .3s;
						-moz-transition: all ease-in .3s;
						-o-transition: all ease-in .3s;
						transition: all ease-in .3s; }
						
					.contact-social:hover > li a i:hover,
					.contact-social:hover > li a i:focus {
						opacity: 1;
						color: #fff; } 
						
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	z-index: 10;
	width: 100%;
	position: relative;
	bottom: 0;
	clear: both;
	background: #fff;
	font-size: 0.85em;
	font-weight: 300;
	padding: 0 2%;
	height: 35px; }
	
	#item-footer {
		background: #49625e; }	
  
	#contain-footer {
 		z-index: 11;
 		width: 100%;
 		clear: both;
 		margin: 0 auto; }
		
		#copyright {	
			z-index: 12;
			float: left;
			line-height: 10px; }
			
			#copyright ul li a {
				text-decoration: none;
				color: #092F25; }
				
				#copyright ul li a:hover,
				#copyright ul li a:focus {
					text-decoration: underline; }
		
			#copyright ul {
				padding: 0; }
				
				#item-copy {
					color: #fff !important; }
				
		.social-links {
			z-index: 13;
			float: right; }
			
			.social {
				line-height: 10px;
				margin-bottom: 0;
				-webkit-transition: all ease-in .3s;
				-moz-transition: all ease-in .3s;
				-o-transition: all ease-in .3s;
				transition: all ease-in .3s; }
				
				.social:hover > li a i {
					opacity: .7; 
					-webkit-transition: all ease-in .3s;
					-moz-transition: all ease-in .3s;
					-o-transition: all ease-in .3s;
					transition: all ease-in .3s; }
						
				.social li {
					display: inline-block;
					color: #173c39; 
					font-size: 1.1em;
					padding-left: 4px; }
					
					.social li a i {
						color: #173c39;
						-webkit-transition: color .2s ease-in;
						-moz-transition: color .2s ease-in;
						-o-transition: color .2s ease-in;
						transition: color .2s ease-in;	}
							
						.social:hover > li a i:hover,
						.social:hover > li a i:focus {
							opacity: 1; }
																					
							#item-social li a i {
								color: #fff; }
								

/* Grid - Masonry
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid,
.item-grid,
.col3-grid {
	width: 100%;
	z-index: 1; }
	
.grid-img {
	width: 100%;
	height: auto;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	background-color: #173c39;
	transition: all .5s; }
	
	.grid-img:hover {
		-webkit-filter: opacity(.3) grayscale(1) contrast(1.1);
		filter: opacity(.3) grayscale(1) contrast(1.1); 
		transition: all .5s;
		cursor: pointer; }
		
	.set .grid-img:hover {
		-webkit-filter: grayscale(1);
		filter: grayscale(1); }
			
	.border {
		border: .1px solid #092F25; }

.grid-sizer { 
	width: 24%; }

.grid-item {
	float: left;
	width: 24%;
	height: auto;
	z-index: 2;
	cursor: pointer; }
	
	.grid-item--sml {
		float: left;
		width: 24%;
		height: auto;
		z-index: 2; }
		
	.grid-item--big,
	.grid-item--big2 {
		float: left;
		width: 49%;
		height: auto;
		z-index: 2; }
		
	.grid-sizer-col3,
	.grid-item-col3 {
		width: 32%; }
	
/* issue with z-index here */
.grid-title {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 0 0 20px 15px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: #fff;
	font-size: 0.79em;
	font-weight: 500;
	transition: .5s;
	opacity: 1; }

	.grid-title p {
		padding: 0;
		margin: 0; }

	.title {}

	.subtitle {
		font-size: .8em; }
	
	.show {
		display: block; }
		

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* slideInLeft, fadeInDown and fadeOutUp animations from animate.css 
	Animate.css - http://daneden.me/animate
	Licensed under the MIT license - http://opensource.org/licenses/MIT
	Copyright (c) 2015 Daniel Eden */

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
    -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
    -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

.fadeInDown {	
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;  } 

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;  } 

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* --- Large screens --- */
@media screen and (min-width: 1700px) {
	main {
		width: 50%; }
	
	.item-img {
		width: 70%;
		height: auto;
		float: none;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-50%);
		position: relative; }
}

/* --- 3 columns --- */
@media screen and (max-width: 1205px) {
	.item-img {
		width: 100%;
		float: none; }
	
	.grid-sizer,
	.grid-item {
		width: 32%; }
		
	.grid-item--big {
		width: 65.5%; }
}

/* --- 2 columns --- */
@media screen and (max-width: 790px) {
	.item-menu ul li:not(:first-child) {
		display: none; }
	
	#about-img-wrapper,
	#about-img {
		width: 100%;
		position: relative; }
	
	#about-img {
		top: 30px; }
	
	.about {
		width: 100%; }
			
	.grid-sizer,
	.grid-sizer-col3,
	.grid-item,
	.grid-item--big,
	.grid-item-col3 {
		width: 48%; }
}

/* --- Small screens --- */
@media screen and (max-width: 450px) {
	.home-logo,
	.item-logo {
		background-size: 70% !important; }
	
	main {
		width: 80%;	}
		
	.big {
		font-size: 1.1em; }
		
	#item-main {
		padding-top: 50px; }
	
	.grid-sizer,
	.grid-sizer-col3,
	.grid-item,
	.grid-item--big,
	.grid-item-col3 {
		width: 48%; }
		
	.footer {
		padding: 0 5%; }
}

@media screen and (max-width: 320px) {
	.home-logo,
	.item-logo {
		width: 115px !important;
		height: 62px !important;
		background-size: 100% !important; }
		
	main {
		width: 85%;	}
	
	p, li {
		font-size: 0.95em; }
		
	.button {
		font-size: 0.7em;
	}
}
	